.nav-bar {
  background-color: transparent;
  width: 100vw;
  height: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.logo {
  height: 40%;
  padding: 4vh 20vh 4vh 4vh;
}

.star {
  color: #a8a8a8;
  opacity: 1;
  top: 20dp;
  left: 1150dp;
  width: 26dp;
  height: 24dp;
}

.star-container {
  background-color: transparent;
  padding-left: 30vw;
}
